@charset "UTF-8";

body{
	background-color: gold;
	}
h1 {
	color: red;
	}
.container	{
	border: 3px;
	width:1280px;
	height:800px;
	margin:0 auto;	
	}

.list {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
    
	}
.sig	{
	width:1280px;
	height: 575px;
	margin:0 auto;
	}
p{
	color: blue;
}

