@charset "UTF-8";

body{
	background-color: gold;
	}
.container	{
	border: 3px;
	width:1280px;
	height:800px;
	margin:0 auto;	
	}

.list {
	list-style-type: none;
	padding: 0;
	display: flex;
    justify-content: space-evenly;
	}
.sig	{
	width:1280px;
	height: 575px;
	}

